body{
    padding: 0 0;
    margin: 0 auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    /*background: blue url("..//textures/texture.jpg") repeat right top;*/
}
div#first{
    height: 100%;
    /*display: table-cell;
    vertical-align: middle;*/
    min-width: 400px;
    /*position: relative;*/
    margin: auto;
}

div.middle{
    /*border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;*/
    border-radius: 40px;
    background-color: rgb(29.1%, 38%, 77.7%);
    min-height: 300px;
    /*display: inline-block;*/
    margin: auto;
    top: 50%;
    left: 50%;
    min-width: 900px;
    transform: translate(-50%, -90%);
    position: absolute;
    overflow: hidden;
    padding: 10px;
}
div#first div#name{
    font-size: 6em;
    padding: 10px;
    display: inline-block;
    /*line-height: 300px;*/
}

div#profile{
    background-color: rgb(36.2%, 41.3%, 64.4%);
    float: left;
    min-height: 300px;
    width: 300px;
    border-radius: 100%;
    background: url("https://avatars2.githubusercontent.com/u/13604256?v=3&s=325") no-repeat;
}
img{
    height: inherit;
}
a{
    height: inherit;
    text-decoration: none;
}
div.icons{
    height: 50px;
    margin-top: -50px;
}
div.activities{
    margin: auto;
    top: 60%;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
    position: absolute;
}

div.activities div.single{
    text-align: center;
    display: inline-block;
    /*margin-left: 25px;*/
    width: 176px;
    line-height: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgb(29.1%, 38%, 77.7%);
    font-size: 20px;
    padding: 10px;
}
div.activities div.single:hover{
    background-color: rgb(20.9%, 23.9%, 37.4%);
    cursor: pointer;
}